body {
    background-color: #FFEEC8;
    margin: 0;
    /* font-family: ; */
}

header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 8vh;

    background-color: #4B2B1A;
}

.logo {
    display: flex;
    justify-content: center;
    margin: auto;

    width: 18vw;
}

menu {
    position: relative;
    left: 2vw;
    padding: 0;
    
    justify-content: start;
}

menu img {
    margin: 5px 0 0 0;
    padding: 0;

    width: 2vw;

    opacity: 80%;
}

main {
    width: 100%;
    margin: 0 auto 0 0;
    
}

.pag_inicial {
    position: relative;
    z-index: -1;
    text-align: center;
}

.pag_inicial .pintura {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.pag_inicial .sobreposicao {
    width: 100%;
    position: relative;
    z-index: 2;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 0;

    position: absolute;
    top: 22%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);

    width: 65vw;
}

.frase_inicial {
    font-family: "Permanent Marker";
    color: #FFFFFF;
    font-size: 38px;
    opacity: 85%;
    margin-bottom: 0%;
}

.line {
    background-color: #FFFFFF;

    height: 0.1vh;
    width: 100%;
}


.agradecimento {
    position: absolute;
    top: 70%;
    left: 74%;
    z-index: 5;
    width: 23vw;
    text-align: end;
}

.agradecimento p {
    font-family: 'Inter';
    font-size: 13px;
    color: #FFFFFF;
}

.agradecimento span {
    font-weight: bold;
}

#PC {
    display: flex;
    flex-direction: row;
    margin-top: -4px;
    background-image: url('../assets/PC\ bg.jpg');
    width: 100%;
    height: 65vh;
}

.PC {
    display: flex;
}

.patrimonio {
    font-family: 'Inter';
    font-weight: bold;
    color: #FF9940;
    font-size: 32px;

    margin: 8vh 0 0 8vh;
}

.patrimonio1 {
    position: absolute;
    font-family: 'Inter';
    font-weight: bold;
    color: #ffffff;
    font-size: 32px;

    margin: 7.7vh 0 0 7.7vh;
}

.oqpc {
    display: flex;
    flex-direction: row;

    margin: 1vh 0 0 12vh;
}

.polygon img {
    width: 0.9vw;
    transform: rotate(60deg);
}

.oqpc h2 {
    margin: 0 0 0 0.6vw;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    opacity: 90%;
}

.oqpc span {
    color: #FF9940;
}

.frase-ma {
    display: flex;
    margin: 0 0 0 14vh;
    gap: 1vw;
}

.line1 {
    width: 1px;
    height: 13vh;
    background-color: #FF9940;

    margin-top: 1.5vh;
}

.text1 {
    font-family: 'Inter';
    font-size: 15px;
    color: #FFFFFF;
}

.autor {
    font-size: 12px;
    text-align: end;
}

.autor span {
    color: #FF9940;
    font-weight: bold;
}

.iphan {
    margin-left: 14vh;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 14px;
}

.iphan span {
    font-weight: bold;
}

.carrousel {
    border: 2px solid white;
    margin-left: 30px;
}

#PCeQuilombos {
    display: flex;
    flex-direction: column;
    background-color: #FFEEC8;
    
    font-family: 'Inter'
}

.quilomb {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.content1 {
    width: 40vw;
    opacity: 99%;
}

.content1 span {
    font-weight: 700;
}

.title-pc {
    text-align: center;
    margin-top: 6vh;
}

.title-pc h1 {
    font-size: 34px;
    font-weight: 800;
    color: #4B2B1A;
    text-shadow: 1px 1px #FF9940;
    margin-bottom: 0;
}

.title-pc h2 {
    font-size: 20px;
    font-weight: 700;
    color: #4B2B1A;
}

.title-pc h2 span {
    color: #FF9940;
}

.quilomb {
    margin: 2vh 0 0 6vw;
    color: #4b2b1add
}

.content1 p {
    text-align: justify;
}

.citacao1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.line2 {
    width: 3px;
    height: 5vw;
    background-color: #FF9940;
}

.text2 {
    margin-left: 1vw;
}

.frase-arv {
    font-weight: 700;
    margin: 0%;

    text-align: start;
}

.origem {
    font-weight: 600;
    margin: 0;
    color:#FF9940;
}

.t {
    text-align: justify;
}

.const {
    text-align: justify;
}

.citacao2 {
    display: flex;
    flex-direction: row;
}

.line3 {
    width: 1vw;
    height: 16vh;
    background-color: #4B2B1A;
    margin-right: 1vw;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 580px;
}

.video p {
    width: 540px;
    margin: 2vh auto;
    font-size: 12px;

    text-align: center;
}

.video p span {
    font-weight: bold;
}


@media (max-width: 600px) {
    .logo {
        display: flex;
        justify-content: center;
        margin: auto;
    
        width: 45vw;
    }
    
    menu {
        position: relative;
        left: 2vw;
        padding: 0;
        
        justify-content: start;
    }
    
    menu img {
        margin: 5px 0 0 0;
        padding: 0;
    
        width: 4vw;
    
        opacity: 80%;
    }

    .text {
        display: flex;
        justify-content: center;
        justify-items: center;
        position: absolute;
        top: 30%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
    }

    .frase_inicial {
        font-size: 12px;
    }

    .agradecimento {
        position: absolute;
        top: 88%;
        left: 30%;
        z-index: 5;
        width: 38vw;
        text-align: center;
    }
    
    .agradecimento p {
        font-family: 'Inter';
        font-size: 5px;
        color: #FFFFFF;
    }

    #PC {
        display: flex;
        flex-direction: column;
        margin-top: -4px;
        background-image: url('../assets/PC\ bg.jpg');
        height: 65vh;
    }
    
    .PC {
        display: flex;
    }
    
    .patrimonio {
        font-family: 'Inter';
        font-weight: bold;
        color: #ffffff;
        text-shadow: 1px 1px #FF9940;
        font-size: 16px;
    
        margin: 5vh auto;
    }
    
    .patrimonio1 {
        display: none;
    }
}